<div class="row mt-5"></div>
    <div class="colo-4"></div>
    <div class="col-4 container text-center border border-dark border-2" id="div">
        <img src="../../assets/images/bank2.png" alt=""><br><br>
    <h1>My Bank</h1>
    <h6>{{aim}}</h6>
    <input #acno type="text" [placeholder]="account " class="form-control" id="login_acno"><br><br>
    <input   #pswd type="password" placeholder="password" class="form-control" id="login_pswd"><br><br>
    <button type="button" id="btnn" (click)="login(acno,pswd)">Login</button><br><br><br>         
</div>
<div class="col-4"></div>
